<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Add Contact</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div>
    <h1> Add Contact </h1>
</div>

<div>
</div>
<form>
    <p>
        <label>E-mail:</label>
        <input type="text" th:value="${user.username}"/>
    </p>

    <p>
        <label>Fullname:</label>
        <input type="text" th:value="${user.fullName}"/>
    </p>

    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${contactsList}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.firstname}">First Name</td>
                <td th:text="${user.lastname}">Last Name</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</form>


<form th:action="@{/addContactSuccess}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">
    <!--      renvoit à la requête du controller "process_register"-->

    <div class="m-3">
        <div class="form-group row">
            <label th:for="email" class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
                <td th:text="${user.email}">Email ID</td>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">First Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{user.firstname}" class="form-control"
                       required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Last Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{user.lastname}" class="form-control"
                       required />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Click here to Submit Up</button>
        </div>
    </div>

</form>


</body>
</html>