<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Add Contact</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div>
    <h1> Add Contact </h1>
</div>

<div>
</div>

<form th:action="@{/addContact2}" th:object="${contactList}" method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">
        <div class="form-group row">
            <label th:for="email" class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
                <input type="email" th:field="*{user.email}" class="form-control" required />
                <span th:errors="*{user.email}" class="error">Invalid Email</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">First Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{user.firstname}" class="form-control"
                       required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Last Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{user.lastname}" class="form-control"
                       required />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Clic here to add contact</button>
        </div>
    </div>

</form>


</body>
</html>