<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BankTransaction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<header class="p-3 bg-secondary text-white">
    <div class="container text-center fs-3">
        Pay My Buddy
    </div>
</header>

<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight">
        <div class="badge bg-success text-wrap fs-3 text-center" style="width: 250px; height: 50px">Pay My Buddy</div>
    </div>
    <div class="p-2 bd-highlight">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link " th:href="@{/user_home}">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/transactions}">Transaction</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/banktransactions}">BankTransaction</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/bankaccount}">Bankaccount</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</div>

<nav aria-label="breadcrumb" class="p-3 mb-2 bg-light text-primary text-start fs-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/user_home}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">BankTransaction</li>
    </ol>
</nav>


<body>

<div th:if="${banktransactionsuccess}" th:class="${alert}">
    <div class="alert alert-success">
        <strong>Bank transaction succcessfully!</strong>
    </div>
</div>

<div th:if="${erroramount}" th:class="${alert}">
    <div class="alert alert-danger">
        <strong>Operation failed</strong>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 text-center ">

        <section class="bg-light border border-1 p-5 ">
            <div>
                <a class="btn btn-primary" th:href="@{/bankaccount}" role="button">Add BankAccount</a>
            </div>
        <form action="#" data-th-action="@{/banktransactions}" data-th-object="${banktransaction}" method="post">
            <div class="d-flex justify-content-end">
                <div class="p-2 flex-fill bd-highlight">

                <select class="form-select" aria-label="Default select example" name="iban">
                    <option selected value="iban">Select A BankAccount</option>
                    <tr th:each="bankaccount: ${bankaccountList}">
                        <option th:text="${bankaccount.name}+' '+${bankaccount.iban}" th:value="${bankaccount.iban}">BankAccounts</option>
                </select>
                    </div>

                    <div class="p-2 flex-fill bd-highlight">
                    <input type="number" th:field="*{amount}" class="form-control" placeholder="0" required/>
                </div>
                </div>

            <button type="submit" name="action" value="depositmoney" class="btn btn-success">Deposit money on PayMyBuddy</button>
            <button type="submit" name="action" value="transfermoney" class="btn btn-danger">Transfer money on bankaccount</button>
            </form>

        </section>



        <section class="bg-light border border-1 p-5 ">
    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Type of Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="banktransaction: ${bankTransactionPageList}">
                <td th:text="${banktransaction.intime}">Date </td>
                <td th:text="${banktransaction.getBankAccount().name}">Name</td>
                <td th:text="${banktransaction.amount}">Amount</td>
                <td th:text="${banktransaction.operationType}">Type of Operation </td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
        </section>

        <section class="bg-light border border-1 p-5 ">
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total BankTransactions: [[${totalBankTransactions}]] : Page [[${currentPage}]] of [[${totalPages}]]
        </div>
        <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/banktransactions?page=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/banktransactions?page=' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/banktransactions?page=' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
        </section>

        </div>
</div>
</div>
</body>
</html>