<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div>
    <h1> BankAccount</h1>
</div>

<form th:action="@{/addbankaccount}" th:object="${bankaccount}" method="post" style="max-width: 600px; margin: 0 auto;">


    <div class="m-3">
           <div class="form-group row">
            <input type="text" th:field="*{name}" class="form-control" placeholder="BankName" required/>
        </div>
        <div class="form-group row">
            <input type="text" th:field="*{iban}" class="form-control" placeholder="Iban" required/>
        </div>


        <div>
            <button type="submit" class="btn btn-primary">Add Bankaccount</button>
        </div>
    </div>
</form>
<form>
    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>BankName</th>
                <th>Iban</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankaccount: ${bankaccountlist}">
                <td th:text="${bankaccount.name}">BankName</td>
                <td th:text="${bankaccount.iban}">Iban</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</form>


<!--<form th:action="@{/addbankaccount}" th:object="${bankaccount}" method="post" style="max-width: 600px; margin: 0 auto;">-->
<!--    &lt;!&ndash;      renvoit à la requête du controller "process_register"&ndash;&gt;-->

<!--    <div class="m-3">-->
<!--        <div class="form-group row">-->
<!--            <label th:for="name" class="col-4 col-form-label"> Name </label>-->
<!--            <div class="col-8">-->
<!--                <input type="text" th:field="*{name}" class="form-control" required/>-->
<!--                &lt;!&ndash;            <span th:errors="*{email}" class="error">Invalid Email</span>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <label class="col-4 col-form-label">Iban: </label>-->
<!--            <div class="col-8">-->
<!--                <input type="text" th:field="*{iban}" class="form-control"-->
<!--                       required/></div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit" class="btn btn-primary">Add Bankaccount</button>-->
<!--        </div>-->
<!--    </div>-->

<!--</form>-->
</body>
</html>