<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div>
    <h1> BankAccount</h1>
</div>

<div th:if="${bankaccountsuccess}" th:class="${alert}">
    <div class="alert alert-success">
        <strong>New Bankaccount added succcessfully!</strong>
    </div>
</div>
<div th:if="${errorbankaccount}" th:class="${alert}">
    <div class="alert alert-danger">
        <strong>Adding Bankaccount failed</strong>
    </div>
</div>

<form th:action="@{/addbankaccount}" th:object="${bankaccount}" method="post" style="max-width: 600px; margin: 0 auto;">


    <div class="m-3">
           <div class="form-group row">
            <input type="text" th:field="*{name}" class="form-control" placeholder="BankName" required/>
        </div>
        <div class="form-group row">
            <input type="text" th:field="*{iban}" class="form-control" placeholder="Iban" required/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Add Bankaccount</button>
        </div>
    </div>
</form>
<form>
    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>BankName</th>
                <th>Iban</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bankaccount: ${bankaccountlist}">
                <td th:text="${bankaccount.name}">BankName</td>
                <td th:text="${bankaccount.iban}">Iban</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</form>

<!--<td th:if="${banktransaction.transferType == 'deposit'}">-->
<!--<td th:switch="${banktransaction.transferType}">-->
<!--    <div th:case="'deposit'">-->

        <form th:action="@{/depositmoney}" th:object="${banktransaction}" method="post" style="max-width: 600px; margin: 0 auto;">
    <!--      renvoit à la requête du controller  -->

        <select class="form-select" aria-label="Default select example" name="iban">
            <option selected value="iban">Select A BankAccount</option>
            <tr th:each="bankaccount: ${bankaccountlist}">
                <option th:text="${bankaccount.name}+' '+${bankaccount.iban}" th:value="${bankaccount.iban}">BankAccounts</option>
        </select>

    <div class="m-3">
        <div class="form-group row">
            <input type="number" th:field="*{amount}" class="form-control" placeholder="0" required/>
        </div>
        <!--placeholder pour mettre du texte dans la case-->

        <div>
            <button type="submit" class="btn btn-primary">Deposit</button>
        </div>
    </div>
</form>
</div>

<!--    <div th:case="'withdraw'">-->

<!--<form th:action="@{/withdrawmoney}" th:object="${banktransaction}" method="post" style="max-width: 600px; margin: 0 auto;">-->
<!--    &lt;!&ndash;      renvoit à la requête du controller  &ndash;&gt;-->

<!--    <div>-->
<!--        <select class="form-select" aria-label="Default select example" name="iban">-->
<!--            <option selected value="iban">Select A BankAccount</option>-->
<!--            <tr th:each="bankaccount: ${bankaccountlist}">-->
<!--                <option th:text="${bankaccount.name}+' '+${bankaccount.iban}" th:value="${bankaccount.iban}">BankAccounts</option>-->
<!--        </select>-->


<!--        <div class="m-3">-->
<!--            <div class="form-group row">-->
<!--                <input type="number" th:field="*{amount}" class="form-control" placeholder="0" required/>-->
<!--            </div>-->
<!--            &lt;!&ndash;placeholder pour mettre du texte dans la case&ndash;&gt;-->

<!--            <div>-->
<!--                <button type="submit" class="btn btn-primary">Withdraw</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--    </div>-->
<!--</td>-->



<form>
    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Type of Transfer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="banktransaction: ${banktransactionlist}">
                <td th:text="${banktransaction.id}">ID</td>
                <td th:text="${banktransaction.intime}">Date </td>
                <td th:text="${banktransaction.amount}">Amount</td>
                <td th:text="${banktransaction.transferType}">Type of Transfer</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</form>


</body>
</html>