<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <title>PayWebApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container text-center">
    <h1>Welcome to PayWebApp</h1>
    <h2><div sec:authentication="principal.fullName"></div></h2>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<div>
    <h3><a th:href="@{/users}">All Users List</a></h3>
    <h3><a th:href="@{/registry}">Click here to sign up</a></h3>
    <h3><a th:href="@{/login}">Login</a></h3>
    <h3><a th:href="@{/transaction}">Transaction</a></h3>
    <h3><a th:href="@{/user_home}">User Home</a></h3>
    <h3><a th:href="@{/addContact}">Add Contact</a></h3>
    <!--    renvoit au chemin de requête du Controller-->
</div>

</body>
</html>