<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Users</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <h1>List of Users</h1>-->
<!--</div>-->

<!--<div class="container text-center">-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <form th:action="@{/logout}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                Welcome <br th:text="${user.firstname}"> </br>&ndash;&gt;-->
<!--&lt;!&ndash;            <br th:text="${user.lastname}"> </br>&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="submit" value="Sign Out" />&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->


<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <table class="table table-striped table-bordered">&ndash;&gt;-->
<!--&lt;!&ndash;        <thead class="thead-dark">&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>E-mail</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>First Name</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th>Last Name</th>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </thead>&ndash;&gt;-->
<!--&lt;!&ndash;        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:each="user: ${listUsers}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.email}">E-mail</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.firstname}">First Name</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${user.lastname}">Last Name</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<form th:action="@{/addListUsers}" th:each="user: ${listUsers}" method="post" style="max-width: 600px; margin: 0 auto;">-->
<!--    &lt;!&ndash;      renvoit à la requête du controller "usersList"&ndash;&gt;-->

<!--    <div class="m-3">-->
<!--        <div class="form-group row">-->
<!--            <label th:for="email" class="col-4 col-form-label">E-mail: </label>-->
<!--            <div class="col-8">-->
<!--                <input th:text="${user.email}">-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="form-group row">-->
<!--            <label class="col-4 col-form-label">First Name: </label>-->
<!--            <div class="col-8">-->
<!--                <input type="text" th:field="*{user.firstname}" class="form-control"-->
<!--                       required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <label class="col-4 col-form-label">Last Name: </label>-->
<!--            <div class="col-8">-->
<!--                <input type="text" th:field="*{user.lastname}" class="form-control"-->
<!--                       required />-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            <button type="submit" class="btn btn-primary">Add Contact</button>-->
<!--        </div>-->
<!--    </div>-->


<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div>
    <h1>Pay My Buddy - Inscription </h1>
</div>

<div>
</div>


<form th:action="@{/addListUsers}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">
    <!--      renvoit à la requête du controller "process_register"-->

    <div class="m-3">
        <div class="form-group row">
            <label th:for="email" class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control" required />
                <span th:errors="*{email}" class="error">Invalid Email</span>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-4 col-form-label">First Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{firstname}" class="form-control"
                       required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Last Name: </label>
            <div class="col-8">
                <input type="text" th:field="*{lastname}" class="form-control"
                       required />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Add contactList</button>
        </div>
    </div>

</form>


</body>
</html>