<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div>
    <h1>This is your Dashboard </h1>
</div>

<div>
</div>
<form>
    <p>
        <label>E-mail :</label>
        <input type="text" th:value="${user.username}"/>
    </p>

    <p>
        <label>Firstname Lastname :</label>
        <input type="text" th:value="${user.fullName}"/>
    </p>
    <p>
        <label>Balance :</label>
        <input type="text" th:object="${userconnected}" th:value="${userconnected.getBalance()}"/>
    </p>
</form>
<div>

    <a class="nav-link" th:href="@{/bankaccount}">BankAccount</a>
</div>
<form th:action="@{/banktransaction}" th:object="${banktransaction}" method="post" style="max-width: 600px; margin: 0 auto;">
    <!--      renvoit à la requête du controller  -->


    <div class="m-3">
        <div class="form-group row">
            <input type="number" th:field="*{amount}" class="form-control" placeholder="0" required/>
        </div>
        <!--placeholder pour mettre du texte dans la case-->

        <div>
            <button type="submit" class="btn btn-primary">Deposit</button>
        </div>
    </div>
</form>


<form>
    <p>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>getid</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="banktransaction: ${banktransactionlist}">
                <td th:text="${banktransaction.id}">ID</td>
                <td th:text="${banktransaction.getId()}">GetID</td>
                <td th:text="${banktransaction.intime}">Date </td>
                <td th:text="${banktransaction.amount}">Amount</td>
            </tr>
            </tbody>
        </table>
    </div>
    </p>
</form>


</body>
</html>